<header
  class="relative h-[142px] sm:h-[190px] before:content-[''] before:absolute before:w-full before:h-10 before:bg-[#1d1e1d]"
>
  <div
    class="w-[200px] h-[200px] absolute top-[-100px] left-[calc(50%-100px)] sm:top-[-147px] sm:left-[calc(50%-147px)] sm:w-[295px] sm:h-[295px] rounded-full bg-white before:content-[''] before:absolute before:w-[282px] before:h-[282px] sm:before:w-[377px] sm:before:h-[377px] before:bg-[#1d1e1d] before:-translate-x-1/2 before:-translate-y-1/2 before:top-1/2 before:left-1/2 before:rounded-full before:z-[-1]"
  >
    <img
      class="absolute bottom-[25px] sm:bottom-[40px]"
      src="/Logo.svg"
      alt="Pokémon"
    />
  </div>

  <app-toggle-theme-button class="absolute right-2" />
</header>
