<header
  class="relative h-[190px] before:content-[''] before:absolute before:w-full before:h-10 before:bg-[#1d1e1d]"
>
  <div
    class="absolute top-[-147px] left-[calc(50%-147px)] w-[295px] h-[295px] rounded-full bg-white before:content-[''] before:absolute before:w-[377px] before:h-[377px] before:bg-[#1d1e1d] before:-translate-x-1/2 before:-translate-y-1/2 before:top-1/2 before:left-1/2 before:rounded-full before:z-[-1]"
  >
    <img class="absolute bottom-[40px]" src="/Logo.svg" alt="Pokémon" />
  </div>

  <app-toggle-theme-button class="absolute right-2" />
</header>
