<div class="flex h-full">
  @if (details) {
  <div class="flex-1 p-10 overflow-y-auto">
    <div class="flex items-center justify-between w-full">
      <div class="flex items-center gap-2">
        <img
          class="hover:cursor-pointer"
          [src]="details.sprites.other.showdown.front_default"
          [alt]="details.name"
          (click)="playCry()"
        />

        <h5 class="font-bold text-2xl">{{ details.name | titlecase }}</h5>
      </div>

      <span class="font-bold text-2xl text-neutral-600"
        >#{{ details.id.toString().padStart(3, "0") }}</span
      >
    </div>

    <div class="flex gap-2 mt-2 mb-8">
      @for (type of details.types; track type.type.name) {
      <app-type-chip [type]="type.type.name" />
      }
    </div>

    @if (evolutionPaths.length > 0 && evolutionPaths[0].length > 1) {
    <div class="flex flex-col items-center justify-center mb-4">
      @for (paths of evolutionPaths; track $index;) {
      <div class="flex items-center">
        @for (item of paths; track item.name) {
        <app-evolution-chain-item [name]="item.name" />

        <mat-icon *ngIf="!$last">arrow_right_alt</mat-icon>
        }
      </div>
      }
    </div>
    }

    <div
      class="w-full flex border-y border-neutral-300 dark:border-neutral-600 py-4"
    >
      <div class="flex-1 border-r border-neutral-300 dark:border-neutral-600">
        <h6 class="text-neutral-600 text-center">Weight</h6>

        <p class="font-bold text-center">
          {{ details.weight | hectogramToKilogram }} kg
        </p>
      </div>

      <div class="flex-1 border-r border-neutral-300 dark:border-neutral-600">
        <h6 class="text-neutral-600 text-center">Height</h6>

        <p class="font-bold text-center">
          {{ details.height | decimeterToCentimeter }} cm
        </p>
      </div>

      <div class="flex-1">
        <h6 class="text-neutral-600 text-center">Abilities</h6>

        <div class="flex gap-2 justify-center">
          @for(ability of details.abilities; track ability.ability.name) {
          <p class="font-bold text-center">
            {{ ability.ability.name | titlecase }}
          </p>
          }
        </div>
      </div>
    </div>

    @if (isLoadingSpecies) {
    <div class="flex items-center justify-center mt-8">
      <app-loading-spinner />
    </div>
    } @else if (species) {
    <div class="mt-8">
      @for (flavorText of species.flavor_text_entries; track
      flavorText.version.name) {
      <h6 class="font-bold text-lg">
        Pokémon {{ flavorText.version.name | titlecase }}
      </h6>

      <p class="mb-8">{{ flavorText.flavor_text }}</p>
      }
    </div>
    }
  </div>

  <div
    class="flex items-center justify-center h-full w-[520px] {{
      typeColors[details.types[0].type.name].defaultBg
    }}"
  >
    <div
      class="w-[410px] h-[410px] flex items-center justify-center bg-[url(/Pokeball.svg)] bg-contain bg-center bg-no-repeat"
    >
      <img
        [src]="details.sprites.other['official-artwork'].front_default"
        [alt]="details.name"
      />
    </div>
  </div>
  }
</div>
